<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrowIcon</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>arrowRightUp</key>
            <dict>
                <key>frame</key>
                <string>{{143,189},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>backgroundCollectIcon</key>
            <dict>
                <key>frame</key>
                <string>{{76,189},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>badge</key>
            <dict>
                <key>frame</key>
                <string>{{182,224},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>emptyHabitat</key>
            <dict>
                <key>frame</key>
                <string>{{165,189},{21,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{21,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>expIcon</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>foodIcon</key>
            <dict>
                <key>frame</key>
                <string>{{152,227},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>friends</key>
            <dict>
                <key>frame</key>
                <string>{{120,189},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>gemIcon</key>
            <dict>
                <key>frame</key>
                <string>{{185,24},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>goldIcon</key>
            <dict>
                <key>frame</key>
                <string>{{157,156},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>heartIcon</key>
            <dict>
                <key>frame</key>
                <string>{{185,54},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>lightningIcon</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>monsterwoodIcon</key>
            <dict>
                <key>frame</key>
                <string>{{120,231},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>progressBar</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,20}}</string>
                <key>sourceSize</key>
                <string>{116,20}</string>
            </dict>
            <key>progressBarFill</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{112,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,16}}</string>
                <key>sourceSize</key>
                <string>{112,16}</string>
            </dict>
            <key>progressBarWhite</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,20}}</string>
                <key>sourceSize</key>
                <string>{116,20}</string>
            </dict>
            <key>redArrowIcon</key>
            <dict>
                <key>frame</key>
                <string>{{39,192},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>socialIcon</key>
            <dict>
                <key>frame</key>
                <string>{{129,116},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>tick</key>
            <dict>
                <key>frame</key>
                <string>{{129,156},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>tutorialMapArrow</key>
            <dict>
                <key>frame</key>
                <string>{{59,116},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>upgradeBuildingIcon</key>
            <dict>
                <key>frame</key>
                <string>{{213,24},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef96cfa9ad95531c0fbfdca54e81c07f:8d1ee1ee3fe636032c6bd58901c7cec6:629cb33ae7c5b4bb6402e8bafb661b60$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
