<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt-bar-menu-alone-locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{145,93},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-alone-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{160,93},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-alone-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,26}</string>
                <key>spriteSourceSize</key>
                <string>{11,26}</string>
                <key>textureRect</key>
                <string>{{175,93},{11,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-center-locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{190,93},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-center-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{204,93},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-center-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{218,93},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-corner-locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{232,93},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-corner-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{246,93},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-bar-menu-corner-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{260,93},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-equip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{438,83},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-purpleSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{4,93},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt-remove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{474,83},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{4,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{50,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{96,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{510,4},{69,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gr-elemental-cell-l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{142,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{188,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-mt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{234,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{280,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{326,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cell-w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,85}</string>
                <key>spriteSourceSize</key>
                <string>{42,85}</string>
                <key>textureRect</key>
                <string>{{372,4},{42,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-elemental-cells-generic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{418,4},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-gradient-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{497,4},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-gradient-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,20}</string>
                <key>spriteSourceSize</key>
                <string>{8,20}</string>
                <key>textureRect</key>
                <string>{{497,28},{8,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-reward-box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{31,93},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-reward-box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{69,93},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-reward-box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,26}</string>
                <key>textureRect</key>
                <string>{{107,93},{34,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-body-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{510,77},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-body-on2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{510,101},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-body-on3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{534,77},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-body-on4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{534,101},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-body-on5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{558,77},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gr-tab-gradient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{402,93},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{60,24}</string>
                <key>textureRect</key>
                <string>{{274,93},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-tab-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{60,24}</string>
                <key>textureRect</key>
                <string>{{338,93},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr-white-pixel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{402,118},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{581,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45188c1c337f7a0b93bc20b070070f49:9ce15f03bd419c4bfcb9ef9a4c5251b5:6123b6e07f65ea2ec5119f93dcbc28d7$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
